<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a268766f-2cfc-4773-94a7-9d8d9715aa2c/resourceGroups/CourseWork/providers/Microsoft.Web/sites/CourseWorksPortal</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://courseworksportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>courseworksportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CourseWorksPortal</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CourseWorksPortal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishProvider>AzureWebSite</PublishProvider>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <ProjectGuid>6f97e5a5-baa5-461c-8cfe-74feb724e99e</ProjectGuid>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
    <RemoteSitePhysicalPath />
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>