@model CourseWorksPortal.Models.CourseWork
@{
    ViewBag.Title = "Deleting work";
}

<h2>Course work: "@Model.Name"</h2>

</br>

<div>
    <dl class="dl-horizontal">
        <dt>File name</dt>
        <dd>@Model.File_name</dd>

        </br>

        <dt>Description</dt>
        <dd>
            <textarea asp-for="Description" class="form-control" readonly></textarea>
        </dd>

        </br>

        <dt>
            <div>
                <form asp-controller="CourseWork" asp-action="Delete" asp-route-id="@Model.Id">
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </div>
                </form>
            </div>
        </dt>
        <dd></dd>
    </dl>

</div>