@model IEnumerable<CourseWorksPortal.Models.User>
@{
    ViewBag.Title = "Portal";
}

<br/>

<h1>
    Author: Vadim Safronov</h1>
<br/>
<h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae tortor condimentum lacinia quis. Cursus turpis massa tincidunt dui ut ornare lectus sit. Auctor neque vitae tempus quam pellentesque nec nam aliquam sem. Lacinia quis vel eros donec. Quis lectus nulla at volutpat diam ut venenatis tellus. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Mi sit amet mauris commodo. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Felis eget velit aliquet sagittis id consectetur purus ut. Blandit massa enim nec dui nunc mattis enim. Arcu odio ut sem nulla pharetra diam sit.
    Montes nascetur ridiculus mus mauris vitae ultricies leo. Fames ac turpis egestas maecenas pharetra convallis posuere morbi. Sed felis eget velit aliquet sagittis. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Elementum nibh tellus molestie nunc non blandit massa enim. Fermentum dui faucibus in ornare quam viverra. Praesent tristique magna sit amet purus gravida quis blandit turpis. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Mauris pellentesque pulvinar pellentesque habitant morbi. Lectus magna fringilla urna porttitor rhoncus dolor purus. Dolor sed viverra ipsum nunc aliquet. Elit eget gravida cum sociis natoque penatibus et. Ac placerat vestibulum lectus mauris ultrices eros in. Nulla aliquet enim tortor at. Lectus quam id leo in.
</h4>